body {background-image: url("../images/colorful_abstract.jpg");
    background-size: cover;
}

.jumbotron{background: none;
    height: 50%;
}

.col-md-12{ max-height: 50%;
}

#targetnumber{
    font-size: 250%;
    
}



.navbar-light .navbar-brand {background-color: #4aaaa5;
    color: rgb(248, 242, 242);
    padding:10px;
    position: relative;
    margin-bottom: 0px; 
}



.fas {font-size: 6em;
  
}

.fal {font-size: 6em;
   
}

.far {font-size: 6em;
    -webkit-text-stroke: 4px white;
}

.btn {
    background-color:none; 
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 16px; /* Some padding */
    font-size: 16px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    margin: 20px 20px 20px 20px;
    
}

.btn:hover {box-shadow: 4px 4px rgb(255, 254, 254);
    top: 2px;
}

.btn:active{box-shadow: 0px 0px rgb(250, 249, 249);
    top: 6px;
}

#cr1 {color: rgb(12, 12, 12);
}

#cr2 {color: rgb(130, 131, 131);
}

#cr3 {color: rgb(130, 131, 131);
}

#cr4 {color: rgb(12, 12, 12);
}